/*
#B01444   Rosa quase vermelho, para erros

#DB096D   Rosa-choque escuro
#DD137B   Rosa-choque claro
#F450A5   Rosa claro

#000000   Preto
#333333   Cinza quase preto
#666666   Cinza escuro
#8F8F8F   Cinza médio
#CCCCCC   Cinza claro
#F1F1F1   Cinza quase branco
#FFFFFF   Branco
*/

/* Color global attributes */
html {
  background:         #000;
}
  
html * {
  color:              #CCC;
} 

a, a:visited {
  color:              #DD137B;
}
a:focus, a:hover, a:active {
  color:              #F450A5;
}

h1 {
  color:              #CCC;
}
#gallery h1, #search h1 {
  color:              #666;
}
#gallery h1 em, #search h1 em {
  color:              #CCC;
}

h2 {
  color:              #666;
}

h3, h3 a, h3 a:visited {
  color:              #DD137B;
}

h4, h4 a, h4 a:visited {
  color:              #8F8F8F;
}
/* /Color global attributes */


/* Header tabbed menu */
#logo_screen a, 
#logo_screen a img {
  color:              #DD137B;
}
#logo_screen a:hover, 
#logo_screen a:hover img {
  color:              #F450A5;
}

#header li a, #header li a:visited, #header li a:active {
	color:					    #FFF;
}

#header li a:hover, #header li.current a, #header li.current a:visited {	
	color:              #000;
	background:         #DD137B;
}
/* /Header tabbed menu */


/* Main content top segment */
#subnavigation {
  background:         #F1F1F1;
}
#subnavigation a:link {
  color:              #666;
}
#subnavigation a:hover {
  color:              #DD137B;
}

#go_back_to_thumbnails {
	background:         transparent url(../images/arrow_left.gif) no-repeat 0px;
}
#go_back_to_thumbnails:hover {
	background-image:   url(../images/arrow_left_hover.gif);
}

#go_to_gallery {
	background:         transparent url(../images/gallery_album.gif) no-repeat left;
}

#see_data_sheet {
	background:         transparent url(../images/arrow_down.gif) no-repeat left;
}
#see_data_sheet:hover {
	background-image:   url(../images/arrow_down_hover.gif);
}
/* /Main content top segment */


/* Flickr */
#main_content h5 a, #big_picture cite a {
/*  background:         transparent url(../images/flickr_logo.png) no-repeat left;*/
}
#big_picture cite a {
/*  background-image:   url(../images/flickr_logo_subnavigation.png);*/
}

#thumbnails cite.flickr a {
  background:         transparent url(../images/flickr.png) no-repeat left 6px;
}
#thumbnails cite.flickr a:hover {
  background-image:   url(../images/flickr_hover.png);
}
#thumbnails cite.picasa a {
  background:         transparent url(http://beonthe.net/accounts/beonthe.net/images/icon_picasa.png) no-repeat 2px 1px;
}
#thumbnails cite.picasa a:hover {
  background-image:   url(http://beonthe.net/accounts/beonthe.net/images/icon_picasa_hover.png);
}

body #footer h6 {
  color:              #777;
}
body #footer h6 em {
  color:              #555;
}
/* /Flickr */


/* Thumbnails */
#thumbnails h3 a {
  color:              #8F8F8F;
}

ul#thumbnails li div a {
  background:         #CCC;
}
ul#thumbnails li div a:visited {
  background:         #8F8F8F;
}
ul#thumbnails li div a:hover {
  background:         #F1F1F1;
}


ul#thumbnails a img, 
#thumbnails label {
	color:              #8F8F8F;
}

ul#thumbnails a:hover img, 
ul#thumbnails a:hover label {
	color:              #FFF;
}
/* /Thumbnails */


/* Summary */
#summary, #about_us, #data_sheet {
	background-color:		#F1F1F1;
}
/* /Summary */


/* Link to Selection */
#go_to_selection {
	background:         url(../images/select_pictures.gif) no-repeat top left;
}
#go_to_selection:hover {
	background-image:   url(../images/select_pictures_hover.gif);
}
/* /Link to Selection */


/* Paging */
.pages {
  background:         #CCC;
}


.pages a:visited {
  color:              #8F8F8F;
}

.pages a:hover {
  color:              #F450A5;
}

.pages a.previous, .pages a.next {
  color:              #DB096D;  
}
.pages a.previous:hover, .pages a.next:hover {
  color:              #F450A5;  
}

.pages a.previous {
  background:         url(../images/arrow_left.gif) no-repeat left;
}
.pages a.previous:hover {
  background-image:   url(../images/arrow_left_hover.gif);
}

.pages a.next {
  background:         url(../images/arrow_right.gif) no-repeat right;
}
.pages a.next:hover {
  background-image:   url(../images/arrow_right_hover.gif);
}

.pages strong {
  color:              #DB096D;
}
/* /Paging */


/* Data sheet */
#data_sheet h2 {
	color:              #000;	
}

#data_sheet * {
  color:              #666;
}

#data_sheet a:link {
  color:              #DD137B;
}
/* /Data sheet */


/* Big picture, big video */
#big_picture a, #big_video a {
  color:              #000;
}

#big_picture a#previous span, #big_video a#previous span {
	background:         url(../images/arrow_previous.gif) no-repeat center right;
}
#big_picture a#previous:hover span, #big_video a#previous:hover span {
	background-image:   url(../images/arrow_previous_hover.gif);
}

#big_picture #next span, #big_video #next span {
	background:         url(../images/arrow_next.gif) no-repeat center left;
}
#big_picture a#next:hover span, #big_video a#next:hover span {
	background-image:   url(../images/arrow_next_hover.gif);
}

#big_picture img {
	color:              #F1F1F1;
	border-color:       #F1F1F1;
}

#big_picture label {
  border-color:       #F1F1F1;
  background:         #FFF;
}

#big_video label span {
  background:         none;
}
/* /Big picture, big video */


/* Selection */
body#selection #selection_size, 
body#selection #selection_size label {
	color:              #000;
}

#cart_items {
	border-color:       #F1F1F1;
	background:         #FFF;
}

#cart_items.instructions {
	background:         #FFF url(../images/selection_instructions.gif) no-repeat center;	
}

#all_pictures li label, #all_pictures li a, 
#cart_items label, #cart_items a, 
#selected_pictures label, #selected_pictures a {
	background-color:   #FFF;
}

#all_pictures label, #cart_items label, 
#selected_pictures label {
	color:              #8F8F8F;
}

#all_pictures a:hover, 
#cart_items a:hover, 
#selected_pictures a:hover {
	background:         transparent url(../images/magnifying_glass.gif) no-repeat center;
}

#selected_pictures a.remove_picture {
	background:         none;
}

body#selection #selection_size label {
	border-color:       #CCC;
	background-color:   #FFF;
}

.go_to_checkout {
  background:         transparent url(../images/shopping_cart.gif) no-repeat right;
}

.moved_to_cart {
  opacity:            .3;
}

a:hover label, 
body#checkout #selection_size label, 
body#pictures_sent #selection_size label,
span#searched_item,  
#search_result_count label {
  color:              #DD137B;
}
/* /Selection */


/* Forms (contact, checkout, search) */
label {
	color:              #8F8F8F;
}

input, textarea {
	color:              #666;
	border-color:       #F1F1F1;
}

#summary *, .pages a, 
input, textarea, 
#big_picture label {
  color:              #333;
}

input:hover, input:active, input:focus,
textarea:hover, textarea:active, textarea:focus {
	border-color:       #F450A5;
}

button {
  color:              #FFF;
	background-color:   #DD137B;
}
button:hover {
	background-color:   #F450A5;
}

.submitting {
	color:              #FFF;
	background:         #8F8F8F url(../images/spinner_form.gif) no-repeat 95% center;
}
.submitting:hover {
	background-color:   #8F8F8F;
}

.email_field_with_errors {
	border-color:       #B01444;
}

#submit_error {
	background-color:   #B01444;
}

#submit_success {
	background-color:   #DB096D;
}

#submit_error, #submit_success {
  color:              #FFF;
}

/* Specific for global search form */
#global_search {
	background:         url(../images/search.gif) no-repeat left;
}

#global_search #query {
	color:              #000;
	border:					    none;
}

#global_search #query:hover, #global_search #query:active, #global_search #query:focus {
	color:              #666;
	border:					    none;
}
/* /Forms (contact, checkout, search) */


/* Errors (404, 500, timeout, empty search results) */
body.application #main_content h2 {
	background:         url(../images/error_404.png) no-repeat top;
}

body#server_error #main_content h2 {
	background-image:   url(../images/error_500.png);
}

body#timeout #main_content h2 {
	background-image:   url(../images/error_timeout.png);
}

body.application #main_content h3 {
  color:              #DD137B;
}

body.application #main_content ul {
  background:         #000;
}
/* /Errors (404, 500, timeout, empty search results) */


/* Facebox */
#facebox {
  background:         none;
}

#facebox * {
  background:         #FFF;
}

#facebox div {
  border-color:       #DD137B;
}
/* /Facebox */


/* Footer */
#footer em, #footer p, 
#footer h2, #footer h2 a, 
#beonthenet img {
	color:					    #FFF;
}

#footer p strong, #footer h6 {
	color:					    #CCC;
}

#beonthenet:hover img, 
#improveit:hover {
  color:              #DD137B;
}

#footer h3 {
  color:              #666;
}
/* /Footer */



/* Text */
.text dt, 
.text #main_content strong {
  color:              #FFF;
}

.text table * {
  border-color:       #F1F1F1;
}

.text td span {
  color:              #666;
}

pre {
  border-color:       #333;
  background:         #333;
}

code {
  color:              #F1F1F1;
  background:         #333; 
}
/* /Text */


/* Blog */
.title a {
  text-shadow:        0 1px 0 #F1F1F1;
}

.title {
  background:         #CCC url(../images/title_blog_post.png) no-repeat center top;
}
.pre-post {
  background:         #CCC;
}

.pre-post strong {
  color:              #000;
}

.note {
  border-color:       #555;
}

.tags h3 {
  color:              #CCC;
}
/* /Blog */