/* Style sheet with conditions for Internet Explorer. */

body {
  position:               relative;
}

hr {
  margin:                 -8px 0 -7px 0;
}

.second {
  bottom:                 40px;
}

#all_pictures {
  margin-left:            0;
}

#cart_items {
  margin-left:            568px;
}

#all_pictures label, #cart_items label, 
#selected_pictures label {
	filter:                 alpha(opacity=70);
}

.moved_to_cart {
	filter:                 alpha(opacity=30);
}

label {
	margin-top:             .3em;
}

#message_confirmation_yes {
  margin-left:            16.5em;
}

/* IE7: */
*:first-child + html #facebox a {
  right:                  -18px;
}